:root {
  --ff-sans: "IBM Plex Sans", sans-serif;
  --ff-serif: "IBM Plex Serif", serif;
  --ff-merriweather: "Merriweather Sans", serif;

  /* small screen font-sizes */
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
  --fs-900: 2.75rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #eef1f6;
  --clr-neutral-300: #a9afbc;
  --clr-neutral-400: #737b8c;
  --clr-neutral-500: #434956;
  --clr-neutral-900: #020203;

  --clr-primary-300: #f3f7ff;
  --clr-primary-400: #8ea8da;

  --br: 0.5rem;
}



/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br);
}

.logo {
  max-width: 50%;
  padding: 1rem;
  margin: 0.5rem auto;
}

body {
  line-height: 1.3;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 300;
  /* padding: 0.75rem; */
}

.bg-primary-300 {
  background-color: var(--clr-primary-300);
  border-radius: 1rem;
}

/* typography */

h1,
h2,
h3,
.section-subtitle,
.text-serif {
  font-family: var(--ff-merriweather);
  font-weight: var(--fw-200);
}

a {
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  color: var(--clr-neutral-200);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-primary-400);
}

.text-500 {
  font-size: var(--fs-500);
}

.page-title {
  font-family: var(--ff-merriweather);
  font-size: var(--fs-900);
  font-weight: var(--fw-700);
  color: var(--clr-neutral-100);
  text-align: center;
  padding: 0 2rem;
  margin: 2rem auto;
}
.page-subtitle {
  font-size: var(--fs-600);
  padding: 1.5rem;
}
.nome_biografe {
  font-weight: var(--fw-700);
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: none;
  margin: 0 auto;
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  font-family: var(--ff-sans);
  text-decoration: none;
  color: var(--clr-neutral-200);
}

.btn::after {
  content: "\203A";
  margin-left: 1em;
  font-weight: var(--fw-300);
}

.btn:hover,
.btn:focus {
  color: var(--clr-primary-400);
}

.btn-presentazione {
  margin: 2rem auto;
  text-align: center;
}

.btn-biografe {
  background-color: #048ea0;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin: 0.2rem auto;
  text-align: center;
}

#show-part-2,
#show-part-3,
#reset {
  background-color: #048ea0;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 1rem 0;
  display: inline-block;
}

#article-part-2,
#article-part-3 {
  display: none;
}
/* general layout */

section {
  padding: 2.5rem 0.75rem 0;
}
.accompagnamento {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

#chi_siamo {
  text-align: center;
}

/* .biogafia-individuale {
  width: 100%;
}
.profilo-img img {
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
} */


  section {
    padding:  2.5rem;
  }
  .biografe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }


.container {
  max-width: 50rem;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-img {
  display: flex;
  flex: 1;
  justify-content: center;
  justify-items: center;
}
.split > * + * {
  margin: 2rem 0 0 0;
}

.split > * {
  flex-basis: 100%;
}

.biogafia-individuale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.profilo-img {
   padding: 1rem 0 0 0;
}


  .split > * + * {
    margin: 0 0 0 2.5rem;
  }

  .accompagnamento {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 3rem;
  }

  .text {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 0 auto;
    width: 100%;
    justify-self: center;
  }
  .img1,
  .img2 {
    grid-column: 2 / 3;
    padding: 0 auto;
    width: 100%;
    justify-self: center;
  }

  .img1,
  .img2 {
    grid-column: 2 / 3;
    width: 90%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
  }

  .biogafia-individuale {
    max-width: 25%;
  }


.profilo-img img {
  margin: 0 auto;
  border-radius: 10px;
  width: 70%;
}

a {
  font-size: var(--fs-400);
}
.xl-space {
  margin-top: 5rem;
}

/* components */

.primary-header {
  /* border-radius: var(--br); */
  padding: 2rem;
  /* margin: 0 -2rem; */
  background-color: var(--clr-primary-400);
  min-height: 50vh;
}

.section-one {
  background-image: url(/img/girasole_wp.jpeg);
  background-size: cover;
  background-position: 50% 50%;
  height: 700px;
  padding: 0;
}

.primary-nav {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  border-radius: var(--br);
  background: var(--clr-neutral-900);
  font-family: var(--ff-merriweather);
  padding: 0 1.2rem;
}

.primary-nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0.8em 0;
}

.primary-nav li {
  line-height: 0;
}

.primary-nav a {
  color: var(--clr-neutral-200);
  text-decoration: none;
}


  .primary-nav a {
    color: var(--clr-neutral-200);
    text-decoration: none;
    font-size: var(--fs-400);
  }

  .primary-header__inner {
    display: flex;
    justify-content: space-between;
  }

  .primary-nav ul {
    padding: 1.5rem;
  }

  .primary-nav li {
    margin-left: 1em;
  }
  .logo {
    padding: 0 1rem;
    margin: 0 1rem;
  }


.article-preview h3 {
  font-size: var(--fs-500);
}

.article-preview img {
  object-fit: cover;
  height: 12.5rem;
  width: 100%;
}

.article-preview .info {
  display: flex;
  font-weight: var(--fw-400);
  font-size: var(--fs-200);
  color: var(--clr-neutral-400);
}

.article-preview .info > *:first-child {
  margin-right: 2rem;
}

.call-to-action form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.call-to-action form > div {
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 1;
}

.call-to-action input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--clr-neutral-300);
}

.call-to-action input:focus {
  border-color: var(--clr-primary-400);
  border-width: 4px;
}

.call-to-action input::placeholder {
  color: var(--clr-neutral-300);
  opacity: 1;
}

.call-to-action label {
  display: block;
  margin-bottom: 0.5em;
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
}

.call-to-action button {
  align-self: flex-start;
}


  .call-to-action button {
    align-self: center;
  }


.primary-footer__inner {
  --border: 2px solid var(--clr-neutral-200);
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 3em 0;
  margin: 2em 0;
}

footer {
  padding-bottom: 1em;
}

.footer-nav {
  display: flex;
}

.footer-nav > *:first-child {
  margin-right: 4em;
}

.footer-social {
  display: flex;
  gap: 2em;
}

.footer-social a {
  font-weight: var(--fw-200);
}

/* homepage styles */

.intro {
  --flow-spacer: 2em;
}

@media (min-width: 40em) { 
  :root {
  --fs-500: 1.75rem;
  --fs-600: 2.125rem;
  --fs-900: 3.25rem;
  }
  @media (min-width: 40em) {
  body {
  padding: 0;
  }
  @media (min-width: 40em) {
  .split {
  flex-direction: row;
  /* flex-wrap: wrap; */
  }
  @media (min-width: 40em) {
  .primary-nav {
  position: static;
  background: transparent;
  border-radius: 0px;
  /* margin: 1rem 0; */
  }
  @media (min-width: 40em) {
  .call-to-action form {
  flex-direction: row;
}
}
}
}
}
}